* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.body {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;

}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 30px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
}

.nav>div {
    display: flex;
    gap: 15px;
}

.nav>div>select {
    border: none;
}

.nav>button {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background: #E31F26;
    color: white;
    border: none;
}

.img {
    background-image: url(./img/cook.png);
    height: 275px;
}

.img>div {
    height: 275px;
    background: #FFFFFFCC;
    color: #213342;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 200px;
    padding-top: 100px;
    position: relative;
}

.img>div>img {
    position: absolute;
    bottom: 40px;
    margin-left: 500px;
}

.img>div>span {
    display: flex;
}

.img>div>span>abbr>a {
    color: #7798B5;
    text-decoration: none;
}

.img>div>span>abbr {
    color: #7798B5;
}

.main {
    display: flex;
    gap: 20px;
    margin-top: 70px;
    margin-left: 200px;
}

.image {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img1 {
    position: relative;
    width: 640px;
    height: 482.23px;
}

.img1>img {
    width: 640px;
    height: 482.23px;
    border-radius: 10px;

}

.img1>p {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFFFFFCC;
    box-shadow: 0px 0px 5px 0px #7798B540;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 230px;
    left: 10px;
}

.img1>span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFFFFFCC;
    box-shadow: 0px 0px 5px 0px #7798B540;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 230px;
    right: 10px;
}

.img2 {
    display: flex;
    gap: 15px;
    width: 640px;
}

.img2>img {
    width: 150px;
    height: 113px;
    border-radius: 10px;
}

.box {
    width: 930px;
    height: 628.3px;
    border-radius: 30px 0px 0px 30px;
    background: #F9F9FA;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    padding-left: 20px;
    color: #213342;
}

.box>p>span {
    color: #E31F26;
}

.box>div {
    display: flex;
    gap: 30px;
}

.box>div>button {
    width: 210px;
    height: 50px;
    border-radius: 5px;
    background-color: #E31F26;
    color: white;
    border: none;
    cursor: pointer;
}

.box>div>button:nth-child(2) {
    width: 210px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #E31F26;
    color: #E31F26;
    cursor: pointer;
    background: inherit;
}

.main1 {
    width: 1040px;
    display: flex;
    gap: 20px;
    height: 390px;
    margin-top: 70px;
    margin-left: 200px;
}

.main1>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 510px;
    height: 390px;
    color: #213342;
}

.main1>div>h3 {
    color: #E31F26;
}

.main2 {
    display: flex;
    gap: 60px;
    margin-left: 200px;
    margin-top: 30px;
}

.text {
    width: 510px;
    height: 1004px;
    display: flex;
    flex-direction: column;
    color: #213342;
    gap: 5px;

}

.text>p {
    width: 510px;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    background-color: #F9F9FA;
    color: #213342;
    display: flex;
    padding-left: 10px;
    gap: 150px;
    align-items: center;
    justify-content: space-between;
}

.text>span {
    width: 510px;
    height: 50px;
    color: #213342;
    display: flex;
    padding-left: 10px;
    gap: 150px;
    align-items: center;
    justify-content: space-between;
}

.text>div {
    width: 510px;
    height: 50px;
    background-color: #F9F9FA;
    color: #213342;
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;

}

.text1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 510px;
}

.card1 {
    width: 510px;
    height: 304px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #213342;
}

.card1>span {
    width: 510px;
    height: 50px;
    color: #213342;
    display: flex;
    padding-left: 10px;
    gap: 150px;
    align-items: center;
    justify-content: space-between;
}

.card1>div {
    width: 510px;
    height: 50px;
    background-color: #F9F9FA;
    color: #213342;
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;

}

.card2 {
    width: 510px;
    height: 1004px;
    display: flex;
    flex-direction: column;
    color: #213342;
    gap: 5px;

}

.card2>p {
    width: 510px;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    background-color: #F9F9FA;
    color: #213342;
    display: flex;
    padding-left: 10px;
    gap: 150px;
    align-items: center;
    justify-content: space-between;
}

.card2>span {
    width: 510px;
    height: 50px;
    color: #213342;
    display: flex;
    padding-left: 10px;
    gap: 150px;
    align-items: center;
    justify-content: space-between;
}

.card2>div {
    width: 510px;
    height: 50px;
    background-color: #F9F9FA;
    color: #213342;
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;

}

.main3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 1040px;
    height: 215px;
    background-color: #F9F9FA;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 200px;

}

.main3>div {
    display: flex;
    gap: 20px;
}

.main3>div>img {
    width: 40px;
    height: 40px;
}

.box1 {
    margin-left: 200px;
    margin-top: 70px;
    width: 1040px;
    height: 520px;
    background-color: #213342;
    color: white;
    display: flex;
    gap: 100px;
    padding: 60px;
}

.box1>div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
}

.box1>div>button {
    cursor: pointer;
    border: none;
    width: 210px;
    height: 50px;
    border-radius: 5px;
    background-color: #E31F26;
    color: white;

}

.cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 980px;
    height: 544px;
    align-items: center;
    margin-left: 200px;
    margin-top: 70px;
}

.flex {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.flex>div {
    width: 300px;
    height: 358px;
    background: #F9F9FA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.flex>div:hover {
    box-shadow: 0px 10px 50px 0px #7798B566;
    transform: scale(1);
}

.flex>div>pre {
    color: #8295a6;
}

.flex>div>p {
    display: flex;
    gap: 5px;
}

.flex4 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.main8 {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: #213342;
}

.main8>button {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: #E31F26;
    border: none;
    cursor: pointer;
}

.footer {
    height: 402px;
    background: #213342;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    position: relative;
    margin-top: 100px;
}

.foot {
    display: flex;
    gap: 40px;
    width: 980px;
}

.foot>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer>img {
    width: 980px;
    bottom: 40px;
    position: absolute;
}

.footer>p {
    position: absolute;
    bottom: 20px;
}